openapi: 3.1.0
info:
  title: ADARx STOP-HAE Trial Site API
  version: '1.0'
  summary: The anonymously readable WordPress REST API behind stophae.com, the STOP-HAE Phase 3 patient site.
  description: >-
    stophae.com is the patient-recruitment site for STOP-HAE, ADARx Pharmaceuticals' Phase 3
    randomized, double-blind, placebo-controlled study of ADX-324 (onvuzosiran) in hereditary
    angioedema. Its WordPress install identifies itself as "ADARX1 Patient Website" and registers
    226 REST routes across oembed/1.0, wpml/v1, wpml/st/v1, wpml/tm/v1, wpml/ate/v1,
    otgs/installer/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1.
    The distinguishing feature versus the corporate site is a CUSTOM POST TYPE, `clinic`
    (rest_base `clinic`, label "Clinics"), which carries 50 published trial-site records and is
    readable without credentials. The records expose site identifiers (e.g. slug `801-01`),
    permalinks and dates; the Advanced Custom Fields payload that presumably holds the address and
    contact detail is NOT projected into REST (`acf` is an empty array on every record), so no
    location data is available through this API.
    Derived by the API Evangelist enrichment pipeline from https://stophae.com/wp-json/ and
    verified against live anonymous responses on 2026-08-06. Only operations that returned data
    without credentials are modelled. The WPML translation-management namespaces expose their
    namespace index anonymously but every functional route beneath them is administrative.
  contact:
    name: ADARx Pharmaceuticals
    url: https://www.adarx.com/contact/
    email: info@adarx.com
  x-derived-from: https://stophae.com/wp-json/
  x-verified: '2026-08-06'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
  x-trial:
    name: STOP-HAE
    phase: Phase 3
    investigational_product: ADX-324 (onvuzosiran)
    indication: Hereditary angioedema (HAE)
servers:
  - url: https://stophae.com/wp-json
    description: Production WordPress REST API for the STOP-HAE patient site
tags:
  - name: index
    description: Route discovery and site identity.
  - name: clinics
    description: The STOP-HAE trial-site (clinic) registry.
  - name: content
    description: Patient-facing pages.
  - name: media
    description: The site media library.
  - name: taxonomy
    description: Post types, taxonomies, categories and statuses.
  - name: search
    description: Cross-content search.
  - name: embed
    description: oEmbed provider.
paths:
  /:
    get:
      operationId: getTrialRouteIndex
      summary: Get the REST route index
      tags: [index]
      responses:
        '200':
          description: The route index, including site name, namespaces and the full route table.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string, example: ADARX1 Patient Website }
                  url: { type: string, format: uri }
                  namespaces: { type: array, items: { type: string } }
                  authentication: { type: object }
                  routes: { type: object }
  /wp/v2/clinic:
    get:
      operationId: listTrialClinics
      summary: List STOP-HAE trial sites
      description: >-
        50 published `clinic` records as of 2026-08-06. Each is identified by a site code in the
        `slug`/`title` (e.g. `801-01`). The `acf` custom-field payload is an empty array on every
        record, so addresses, investigators and contact details are not exposed through REST.
      tags: [clinics]
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/fields'
        - name: orderby
          in: query
          schema: { type: string, enum: [date, id, title, slug, menu_order], default: date }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: A page of clinic records.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
            X-WP-TotalPages: { $ref: '#/components/headers/XWPTotalPages' }
            Link: { $ref: '#/components/headers/LinkPagination' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Clinic' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /wp/v2/clinic/{id}:
    get:
      operationId: getTrialClinic
      summary: Get one STOP-HAE trial site
      tags: [clinics]
      parameters:
        - $ref: '#/components/parameters/idPath'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: The clinic record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Clinic' }
        '404': { $ref: '#/components/responses/NotFound' }
  /wp/v2/pages:
    get:
      operationId: listTrialPages
      summary: List patient-site pages
      description: Four published pages as of 2026-08-06 — Home, Prescreener, HCP and Privacy Policy.
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A page of pages.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
            X-WP-TotalPages: { $ref: '#/components/headers/XWPTotalPages' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Page' }
  /wp/v2/pages/{id}:
    get:
      operationId: getTrialPage
      summary: Get one patient-site page
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/idPath'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: The page.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Page' }
        '404': { $ref: '#/components/responses/NotFound' }
  /wp/v2/posts:
    get:
      operationId: listTrialPosts
      summary: List posts
      description: The posts collection is registered but empty on this site (X-WP-Total 0 on 2026-08-06).
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of posts (empty on this site).
          content:
            application/json:
              schema: { type: array, items: { type: object } }
  /wp/v2/media:
    get:
      operationId: listTrialMedia
      summary: List the media library
      description: 592 attachments as of 2026-08-06 — the largest collection on this install.
      tags: [media]
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A page of media items.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
            X-WP-TotalPages: { $ref: '#/components/headers/XWPTotalPages' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MediaItem' }
  /wp/v2/media/{id}:
    get:
      operationId: getTrialMediaItem
      summary: Get one media item
      tags: [media]
      parameters:
        - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The media item.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaItem' }
        '404': { $ref: '#/components/responses/NotFound' }
  /wp/v2/types:
    get:
      operationId: listTrialPostTypes
      summary: List registered post types
      description: >-
        Includes the custom `clinic` type ("Clinics", rest_base `clinic`, namespace wp/v2) alongside
        the WordPress core types.
      tags: [taxonomy]
      responses:
        '200':
          description: A map of post type name to definition.
          content:
            application/json:
              schema: { type: object, additionalProperties: { type: object } }
  /wp/v2/types/{type}:
    get:
      operationId: getTrialPostType
      summary: Get one post type definition
      tags: [taxonomy]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
          example: clinic
      responses:
        '200':
          description: The post type definition.
          content:
            application/json:
              schema: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }
  /wp/v2/taxonomies:
    get:
      operationId: listTrialTaxonomies
      summary: List registered taxonomies
      description: >-
        Four registered — category (applied to both `post` and `clinic`), post_tag, nav_menu and
        wp_pattern_category.
      tags: [taxonomy]
      responses:
        '200':
          description: A map of taxonomy name to definition.
          content:
            application/json:
              schema: { type: object, additionalProperties: { type: object } }
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTrialTaxonomy
      summary: Get one taxonomy definition
      tags: [taxonomy]
      parameters:
        - name: taxonomy
          in: path
          required: true
          schema: { type: string }
          example: category
      responses:
        '200':
          description: The taxonomy definition.
          content:
            application/json:
              schema: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }
  /wp/v2/categories:
    get:
      operationId: listTrialCategories
      summary: List categories
      description: One category registered (Uncategorized, count 0) as of 2026-08-06.
      tags: [taxonomy]
      responses:
        '200':
          description: A page of categories.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }
  /wp/v2/statuses:
    get:
      operationId: listTrialStatuses
      summary: List post statuses visible anonymously
      tags: [taxonomy]
      responses:
        '200':
          description: A map of status slug to definition.
          content:
            application/json:
              schema: { type: object, additionalProperties: { type: object } }
  /wp/v2/users:
    get:
      operationId: listTrialUsers
      summary: List content authors
      description: One author account exposed anonymously (2026-08-06); no email addresses are returned.
      tags: [content]
      responses:
        '200':
          description: A page of author records.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }
  /wp/v2/search:
    get:
      operationId: searchTrialContent
      summary: Search across the patient site
      tags: [search]
      parameters:
        - name: search
          in: query
          required: true
          schema: { type: string }
          example: hae
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Search results.
          headers:
            X-WP-Total: { $ref: '#/components/headers/XWPTotal' }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SearchResult' }
  /oembed/1.0/embed:
    get:
      operationId: getTrialOEmbed
      summary: oEmbed provider for stophae.com URLs
      tags: [embed]
      parameters:
        - name: url
          in: query
          required: true
          schema: { type: string, format: uri }
          example: https://stophae.com/
        - name: format
          in: query
          schema: { type: string, enum: [json, xml], default: json }
      responses:
        '200':
          description: The oEmbed document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }
                  provider_name: { type: string, example: ADARX1 Patient Website }
                  provider_url: { type: string, format: uri }
                  title: { type: string }
                  html: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }
components:
  headers:
    XWPTotal:
      description: Total number of records in the collection.
      schema: { type: integer }
    XWPTotalPages:
      description: Total number of pages available at the current per_page.
      schema: { type: integer }
    LinkPagination:
      description: RFC 8288 Link header carrying rel="next" / rel="prev".
      schema: { type: string }
  parameters:
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
    search:
      name: search
      in: query
      schema: { type: string }
    fields:
      name: _fields
      in: query
      description: Comma-separated sparse-fieldset projection.
      schema: { type: string }
      example: id,slug,title,link
    idPath:
      name: id
      in: path
      required: true
      schema: { type: integer }
  responses:
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/RestError' }
    NotFound:
      description: No object found with that id.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/RestError' }
    Unauthorized:
      description: The endpoint requires an authenticated WordPress user (HTTP 401, `rest_forbidden`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/RestError' }
  schemas:
    RestError:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      properties:
        code: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            status: { type: integer }
      required: [code, message, data]
    RenderedText:
      type: object
      properties:
        rendered: { type: string }
        protected: { type: boolean }
    Clinic:
      type: object
      description: A STOP-HAE trial site record.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        modified: { type: string, format: date-time }
        slug: { type: string, example: '801-01' }
        status: { type: string, example: publish }
        type: { type: string, const: clinic }
        link: { type: string, format: uri }
        menu_order: { type: integer }
        title: { $ref: '#/components/schemas/RenderedText' }
        featured_media: { type: integer }
        categories:
          type: array
          description: References /wp/v2/categories/{id}; empty on every observed record.
          items: { type: integer }
        acf:
          description: >-
            Advanced Custom Fields payload. Observed as an EMPTY ARRAY on every clinic record, so
            no address, investigator or contact data is exposed through REST.
          oneOf:
            - type: array
            - type: object
      required: [id, slug, type, link, title]
    Page:
      type: object
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        slug: { type: string }
        type: { type: string, const: page }
        link: { type: string, format: uri }
        parent: { type: integer }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
      required: [id, slug, type, link, title]
    MediaItem:
      type: object
      properties:
        id: { type: integer }
        slug: { type: string }
        type: { type: string, const: attachment }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        media_type: { type: string }
        mime_type: { type: string }
        source_url: { type: string, format: uri }
        alt_text: { type: string }
        post: { type: integer }
      required: [id, slug, type, source_url]
    Term:
      type: object
      properties:
        id: { type: integer }
        count: { type: integer }
        name: { type: string }
        slug: { type: string }
        taxonomy: { type: string }
        link: { type: string, format: uri }
      required: [id, name, slug, taxonomy]
    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        link: { type: string, format: uri }
      required: [id, name, slug]
    SearchResult:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        url: { type: string, format: uri }
        type: { type: string }
        subtype: { type: string }
      required: [id, title, url]
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: >-
        WordPress Application Passwords (HTTP Basic). Required only for write and administrative
        routes, which are not modelled here — every operation above is readable anonymously.
security: []
